### KiCad
C4NDY-backups/
KVL-backups/
tmp/
jlcpcb/
plasticity/

*.zip

### STM32CubeIDE
.metadata
.settings
Debug

*.swp
*.launch


KiCad/KeyVLM_TopCover/KeyVLM_TC_gerver_230824/

KiCad/KeyVLM_TopCover/KeyVLM_TC_gerver_230824b/

KiCad/KVL_direct/

*.bak
