### KiCad
C4NDY-backups/
KVL-backups/
tmp/
jlcpcb/
plasticity/
production/

*.zip

### STM32CubeIDE
.metadata
.settings
Debug

*.swp
*.launch

KiCad/KVL_direct/

*.bak

*.gbr

*.drl

*.gbrjob

*.o

*.su

*.d

*.cyclo

*.idx

*.mk

*.list

*.map

*.obj

*.stp

*.step
