### KiCad
C4NDY-backups/
KVL-backups/
tmp/
jlcpcb/
plasticity/
production/
KiCad/KVL_direct/

### Plasticity
3Dmodel/STK_enclosure_all3d.plasticity
3Dmodel/STK_left_side_panel_all3d.plasticity
*.gbr
*.drl
*.gbrjob
*.idx
*.obj
*.stp
*.step

### STM32CubeIDE
.metadata
.settings
Debug
*.elf
*.swp
*.launch
*.o
*.su
*.d
*.mk
*.list
*.map
*.cyclo

### VitePress
docs/.vitepress/cache/
node_modules/

*.zip
*.bak

*.psd

*.jpg

*.ai
